<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
	   xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/lang
       http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
	   http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    

     <bean id="demoData" class="pl.touk.wonderfulsecurity.utils.PrepareDemoData" init-method="initialize">
         <property name="mode" value="1"/>
     </bean>

    <bean id="startupConfigurer" class="pl.touk.wonderfulsecurity.utils.StartupConfigurer">
        <property name="wsecUserDao" ref="wsecUserDao"/>
        <property name="wsecPermissionDao" ref="wsecPermissionDao"/>
        <property name="transactionTemplate" ref="wsHibernateTransactionTemplate"/>
        <property name="rootLogin" value="czesio"/>
    </bean>


    <bean id="testSecuredService" class="pl.touk.tola.example.gwt.server.SecurityTestServiceImpl">
        
    </bean>

    <bean id="testServiceExporter" class="org.gwtwidgets.server.spring.GWTRPCServiceExporter">
        <!--<property name="throwUndeclaredExceptionToServletContainer" value="true"/>-->
        <property name="service" ref="testSecuredService"/>
        <property name="serviceInterfaces" value="pl.touk.tola.example.gwt.client.rpc.SecurityTestService"/>
    </bean>

    <bean id="rpcExporterDictionaryService" class="org.gwtwidgets.server.spring.GWTRPCServiceExporter">
        <!--<property name="throwUndeclaredExceptionToServletContainer" value="true"/>-->
        <property name="service" ref="dictionaryService"/>
        <property name="serviceInterfaces" value="pl.touk.top.dictionary.model.service.DictionaryService"/>
    </bean>
    


    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <map>
                 <entry key="/secure/rpc/wsecurityManager.do" value-ref="wsecurityManagerExporter" />
                 <entry key="/secure/rpc/securedTestService.do" value-ref="testServiceExporter" />
                 <entry key="/secure/rpc/securedTestService.do" value-ref="testServiceExporter" />
                 <entry key="/secure/rpc/dictionaryService.do" value-ref="rpcExporterDictionaryService"/>
            </map>
        </property>
    </bean>
    

</beans>
