<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    
    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>-->
            <!--/WEB-INF/applicationContext.xml,-->
            <!--/WEB-INF/dao-context.xml,-->
            <!--/WEB-INF/springSecurity-context.xml,-->
        <!--</param-value>-->
    <!--</context-param>-->
    <!--<listener>-->
        <!--<listener-class>-->
            <!--org.springframework.web.context.ContextLoaderListener-->
        <!--</listener-class>-->
    <!--</listener>-->
    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>-->
    <!--</listener>-->


    <!--<filter>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
    <!--</filter>-->


    <!--<filter>-->
		<!--<filter-name>hibernateFilter</filter-name>-->
	  	<!--<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>-->
	  	<!--<init-param>-->
	  		<!--<param-name>sessionFactoryBeanName</param-name>-->
	  		<!--<param-value>wsHibernateSessionFactory</param-value>-->
	  	<!--</init-param>-->
	<!--</filter>-->

	<!--<filter-mapping>-->
	  	<!--<filter-name>hibernateFilter</filter-name>-->
	  	<!--<url-pattern>/*</url-pattern>-->
	<!--</filter-mapping>-->

    <!--<filter-mapping>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>spring-gwt</servlet-name>-->
        <!--<servlet-class>-->
            <!--org.springframework.web.servlet.DispatcherServlet-->
        <!--</servlet-class>-->
        <!--<load-on-startup>0</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>spring-gwt</servlet-name>-->
        <!--<url-pattern>*.do</url-pattern>-->
    <!--</servlet-mapping>-->

    <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>


</web-app>